<% provide(:title, "Contact") %>

<h1>This is the exercise Contact Static Page.</h1>
<p>This is a page created to solve the exercise in the book.<br />
  This should be used only for educational purpose only.
  Be careful of what to do with it :D </p>
